<div fxFlexFill fxLayout="column" fxLayoutGap="0.5rem">
  <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
  <div fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-gefco-template
    [templates]="allTemplates"
    [template]="currentTemplate"
    (create)="onTemplateCreate($event)"
    (update)="onTemplateUpdate($event)"
    (select)="onTemplateSelect($event)"
    (delete)="onTemplateDelete($event)"
    (restart)="onTemplateRestart()">
    </app-gefco-template>
  </div>
 
  <app-gefco-table
    [template]="currentTemplate"
    [rows]="rows"
    [showU]="true"
    [showD]="true"
    [showV]="true"
    [showM]="true"
    [showC]="true"
    [listPermission]="listPermission"
    [writePermission]="writePermission"
    [readPermission]="readPermission"
    (exportTable)="onExportTable($event)"
    (viewRow)="openDialog($event, true)"
    (editRow)="openDialog($event, false)"
    (visibleColumn)="onColumn($event)">
  </app-gefco-table>

</div>