<div fxLayout="column" fxLayoutGap="0.5rem" fxFlexFill 
style="flex-direction: column; box-sizing: border-box; display: flex;">
  <div fxFlex="0 0 auto" fxHide.xs class="breadcrumb">
    <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
  </div>
  <mat-card>
    <mat-card-subtitle> Contraseña </mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="form" (submit)="updatePass()" class="form" novalidate>
        <div fxlayout="row wrap" fxlayoutgap="2rem" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
          <div fxflex style="margin-right: 2rem; flex: 1 1 0%; box-sizing: border-box;">
            <mat-form-field fxFlexFill [floatLabel]="'always'" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%;">
              <mat-label> Contraseña Anterior </mat-label>
              <input matInput formControlName="oldPassword" type="password" name="oldPassword">
            </mat-form-field>
          </div>
          <div fxflex style="margin-right: 2rem; flex: 1 1 0%; box-sizing: border-box;">
            <mat-form-field fxFlexFill [floatLabel]="'always'" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%;">
              <mat-label> Contraseña Nueva </mat-label>
              <input matInput formControlName="newPassword" name="newPassword" maxlength="20"
                [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div layout="row" layout-align="start right" color="primary">   
            <div fxFlex>
              <button *ngIf="true" mat-raised-button
                [disabled]="(!form.valid)"
                color="primary">
                Cambiar Contraseña
              </button>
            </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
