.mat-card {
    margin: 8px 8px 8px 8px;
    padding: 16px;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}

div.breadcrumb {
    margin: 8px 8px 8px 8px;
    min-width: 0px;
    min-height: 0px;
    box-sizing: border-box;
}