<div *ngIf="loading" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
  <h2 mat-dialog-title>
    <span *ngIf="viewing">RESULTADO DE BLOQUEO - ver</span>
    <span *ngIf="!viewing && creating">RESULTADO DE BLOQUEO - crear</span>
    <span *ngIf="!viewing && !creating">RESULTADO DE BLOQUEO - editar</span>
  </h2>
  <div fxLayout="column" fxLayoutGap="1rem">
    <form #form="ngForm" novalidate>
      <mat-dialog-content>
  
        <div fxLayout="row wrap" fxLayoutGap="2rem">
          
          <div fxFlex>
            <mat-form-field fxFlexFill>
              <mat-select #pais="ngModel" placeholder="{{placeholders[6]}}" name="pais" [(ngModel)]="resultadoBloqueo.pais" [disabled]="viewing || !creating" [compareWith]="compareId" (selectionChange)="loadCliente($event)" required>
                <app-gefco-mat-filter [array]="paises" [converter]="displayMetadataItem" placeholder="Buscar">
                </app-gefco-mat-filter>
                <mat-option *ngFor="let pais of paises" [value]="pais">
                  {{ pais.getFullDescription() }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="pais.hasError('required')">
                Pais requerido
              </mat-error>
            </mat-form-field>
          </div>
  
          <div fxFlex>
            <div *ngIf="!mostrar" fxLayoutAlign="center center">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
              <mat-form-field *ngIf="mostrar" fxFlexFill>
              <mat-select #cliente="ngModel" placeholder="{{placeholders[7]}}" name="cliente" [(ngModel)]="resultadoBloqueo.cliente" [disabled]="viewing || !creating || clientes.length === 0" [compareWith]="compareId" (selectionChange)="loadCuenta($event)" required>
                <app-gefco-mat-filter [array]="clientes" [converter]="displayMetadataItem" placeholder="Buscar">
                </app-gefco-mat-filter>
                <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                  {{ cliente.getFullDescription() }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cliente.hasError('required')">
                Cliente requerido
              </mat-error>
            </mat-form-field>
          </div>
  
          <div fxFlex>
            <div *ngIf="!mostrar1" fxLayoutAlign="center center">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
              <mat-form-field *ngIf="mostrar1" fxFlexFill>
              <mat-select #cuenta="ngModel" placeholder="{{placeholders[8]}}" name="cuenta" [(ngModel)]="resultadoBloqueo.cuenta" [disabled]="viewing || !creating || cuentas.length === 0" [compareWith]="compareId" (selectionChange)="loadSubcuenta($event)" required>
                <app-gefco-mat-filter [array]="cuentas" [converter]="displayMetadataItem" placeholder="Buscar">
                </app-gefco-mat-filter>
                <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta" >
                  {{ cuenta.getFullDescription() }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cuenta.hasError('required')">
                Cuenta requerida
              </mat-error>
            </mat-form-field>
          </div>
  
          <div fxFlex>
            <div *ngIf="!mostrar2" fxLayoutAlign="center center">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
              <mat-form-field *ngIf="mostrar2" fxFlexFill>
              <mat-select #subcuenta="ngModel" placeholder="{{placeholders[9]}}" name="subcuenta" [(ngModel)]="resultadoBloqueo.subcuenta" [disabled]="viewing || !creating || subcuentas.length === 0" [compareWith]="compareId" required>
                <app-gefco-mat-filter [array]="subcuentas" [converter]="displayMetadataItem" placeholder="Buscar">
                </app-gefco-mat-filter>
                <mat-option *ngFor="let subcuenta of subcuentas" [value]="subcuenta" >
                  {{ subcuenta.getFullDescription() }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="subcuenta.hasError('required')">
                Subcuenta requerida
              </mat-error>
            </mat-form-field>
          </div>
  
        </div>
        
        <div fxLayout="row wrap" fxLayoutGap="2rem">
  
          <div fxFlex>
            <mat-form-field fxFlexFill>
              <input matInput #codigoRetornoInput="ngModel" [(ngModel)]="resultadoBloqueo.id" name="codigoretorno"
              [disabled]="viewing || !creating" mask="0000" placeholder="{{placeholders[0]}}" required>
              <mat-error *ngIf="codigoRetornoInput.hasError('required')">
                Codigo requerido
              </mat-error>
            </mat-form-field>
          </div>
  
          <div fxFlex fxLayoutAlign="start center">
            <mat-slide-toggle fxFlexFill [(ngModel)]="resultadoBloqueo.activo" name="activo" color="accent" [disabled]="viewing">
              Activo
            </mat-slide-toggle>
          </div>
  
          <div fxFlex fxLayoutAlign="start center">
            <mat-slide-toggle fxFlexFill [(ngModel)]="resultadoBloqueo.bloquea" name="bloquea" color="accent" [disabled]="viewing">
              Bloquea
            </mat-slide-toggle>
          </div>
  
          <div fxFlex fxLayoutAlign="start center">
            <mat-slide-toggle fxFlexFill [(ngModel)]="resultadoBloqueo.desbloquea" name="desbloquea" color="accent" [disabled]="viewing">
              Desbloquea
            </mat-slide-toggle>
          </div>
  
        </div>
  
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close type="button" color="basic">
          Volver
        </button>
        <button
            *ngIf="!viewing && creating"
            mat-raised-button
            (click)="createResultadoBloqueo()"
            [disabled]="form.invalid"
            color="primary">
            Guardar
          </button>
          <button
            *ngIf="!viewing && !creating"
            mat-raised-button
            [disabled]="form.invalid"
            (click)="updateResultadoBloqueo()"
            color="primary">
            Guardar
          </button>
      </mat-dialog-actions>
    </form>
  </div>
</div>